<br>
<div class="container">
    <div class="d-flex flex-row">
        <div class="Task">
            <label for="task">Task:</label>
            <input class="me-2" type="text" name="task" [(ngModel)]="task.content" placeholder="What has to be done">
        </div>
        <br>
        <div class=taskbutton>
            <button (click)="addTask()" type="button">Add Task</button>
        </div>
    </div>


    <div class="d-flex flex-row" *ngFor="let task of tasks; let index = index">
        <!-- <div>{{ index + 1 }}</div> -->
        <div (click)="completeTask(index)" class="{{ (task.completed ? 'done' : '')}}">{{ task.content }}</div>
        <!-- <input (click)="completeTask(index)" type="checkbox" [checked]="task.completed"> -->
        <div class=removebutton>
            <a (click)="removeTask(index)">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    </div>
</div>